#mydev_notify { cursor: pointer;position: fixed;right: 0px;	z-index: 9999;	top: 15px;	margin-right: 15px; width: 450px; font-weight: 400;}

#mydev_notify .mydev_alert { margin-bottom: 15px; display: inline-flex; background: #FFFFFF; width: 100%; padding: 10px; border-radius: 4px; box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;}

#mydev_notify .mydev_alert .mydev_text { margin: 0 10px; font-weight: 400; text-transform: capitalize; }
#mydev_notify .mydev_alert .mydev_close { margin-left: auto;}
#mydev_notify .mydev_alert .mydev_close a{ font-size: 1.5rem; font-weight: 400; line-height: 1; color: #000; text-shadow: 0 1px 0 #fff; opacity: .5;}

#mydev_notify .mydev_alert.mydev_success { border-left: 5px solid #0f5132; background-color: #d1e7dd; color: #0f5132; }
#mydev_notify .mydev_alert.mydev_success .mydev_icon { color: #0f5132; }

#mydev_notify .mydev_alert.mydev_warning { border-left: 5px solid #664d03; background-color: #fff3cd; color: #664d03; }
#mydev_notify .mydev_alert.mydev_warning .mydev_icon { color: #664d03; }

#mydev_notify .mydev_alert.mydev_error { border-left: 5px solid #842029; background-color: #f8d7da; color: #842029; }
#mydev_notify .mydev_alert.mydev_error .mydev_icon { color: #842029; }

#mydev_notify .mydev_alert.mydev_info { border-left: 5px solid #055160; background-color: #cff4fc; color: #055160; }
#mydev_notify .mydev_alert.mydev_info .mydev_icon { color: #055160; }

#mydev_notify .mydev_icon > i { font-size: 26px; animation: shake 0.5s;  animation-iteration-count: infinite; }

@keyframes shake {
	from {
		-webkit-transform: rotate(10deg);
	}
	to {
		-webkit-transform-origin:center center;
		-webkit-transform: rotate(-10deg);
	}
}
